.edit-popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-popup-inner {
    width: 80%;
    height: 70%;
    background-color: rgb(211, 199, 199);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.edit-popup-close-btn {
    position: relative;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    font-size: 20px;
}

.edit-popup-inner-container {
    width: 100%;
    height: 100%;
    background-color: rgb(211, 199, 199);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.edit-title {
    text-align: center;
    height: 10%;
    margin: 3% 0 10% 0;
}

.edit-popup-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    width: 100%;
}

.edit-popup-input-area {
    font-size: 20px;
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-popup-quantity-area {
    display: flex;
    justify-content: center;
}

.edit-quantity {
    margin: 0 8px;
    margin-bottom: 10px;
}

.delete-btn {
    margin-bottom: 10px;
    background-color: rgb(252, 29, 29);
    width: 40%;
}

.edit-submit-btn {
    /* margin-top: 10%; */
    width: 40%;
    height: 8%;
    font-size: 24px;
}