.edit-popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-popup-inner {
    width: 80%;
    height: 70%;
    background-color: rgb(211, 199, 199);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.edit-popup-inner-container {
    width: 100%;
    height: 100%;
    background-color: rgb(211, 199, 199);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.edit-title {
    text-align: center;
    height: 10%;
    margin: 3% 0 3% 0;
}

.edit-popup-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65%;
    width: 100%;
}

.edit-popup-input-area {
    font-size: 20px;
    width: 80%;
    height: Calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-popup-quantity-area {
    display: flex;
    justify-content: center;
}

.edit-quantity {
    margin: 0 8px;
    margin-bottom: 10px;
}

.edit-submit-btn {
    /* margin-top: 10%; */
    width: 60%;
    height: 10%;
    font-size: 24px;
}

.edit-item-input, .edit-popup-quantity-area {
    margin-top: 5px;
    height: 40px;
    font-size: 25px;
}